/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #09d3ac;
}
* {
  box-sizing: border-box;
}
.App {
   max-width: 420px;
   max-width: 80%;
   margin: 0 auto;
} */
/* p {
   text-align: center;
   font-weight: 500;
} */
/* textarea{
  display: block;
  width: 60%;
  height: 100px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
} */
html,
body {
  position: relative;
}
label{
  /* display: inline-block;  */
  float: left; 
  width: 10em; 
  margin-right: 1em; 
  text-align: right;
}
/* input[type=text],input[type=email], select {
   width: 60%;
   display: block;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
} */
input[type=submit] {
   /* display: block;   */
   display: block;
   width: 10%;
   background-color: #4CAF50;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
input[type=submit]:hover {   
   background-color: #45a049;
}
.container {
   border-radius: 5px;
   background-color: #a1a1a1;
   padding: 20px;   
}
.contact-home {
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.contact-home form {
  display: block;
  width: 100%;
  padding-top: 25px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .contact-home form {
    padding-left: 100px;
    padding-right: 100px;
  }
}
.contact-home form .field {
  display: block;
  width: 80%;
  padding-bottom: 20px;
  text-align: left;
}
.contact-home form .field input,
.contact-home form .field textarea {
  display: block;
  width: 80%;
  border: none;
  outline: 0;
  background: #ffffff;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  padding: 15px;
}
.contact-home form .field input::-webkit-input-placeholder,
.contact-home form .field textarea::-webkit-input-placeholder {
  color: #b3b3b3;
}
.contact-home form .field input:-moz-placeholder,
.contact-home form .field textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #b3b3b3;
}
.contact-home form .field input::-moz-placeholder,
.contact-home form .field textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #b3b3b3;
}
.contact-home form .field input:-ms-input-placeholder,
.contact-home form .field textarea:-ms-input-placeholder {
  color: #b3b3b3;
}
.contact-home form .field p {
  display: inline-block;
  /* font-family: 'Open Sans'; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #4d4d4d;
  margin: 0;
  padding: 0 0 10px;
}
.contact-home form .field p span.colored {
  color: #ffb400;
}
.contact-home form .field label {
  display: block;
  width: 100%;
  /* font-family: 'Open Sans'; */
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #ffb400;
  padding: 10px;
  background: #ffffff;
  border-top: 1px solid #ffb400;
}
.contact-home form .button-container {
  padding-top: 20px !important;
}
.contact-home form .button-container button {
  border: none;
  outline: 0;
}
.category-head {
  text-align: center;
}
.category-head h1 {
  /* font-family: 'Open Sans';
  font-style: italic; */
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #333333;
  margin: 0;
  padding: 0;
}
.category-head h1 span.colored {
  color: #ffb400;
}
.category-head p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  margin: 30px auto 0 auto;
  max-width: 800px;
} 